<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BMS_http_KneeBoard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <BMS_http_KneeBoard.My.MySettings>
            <setting name="RutaBMS" serializeAs="String">
                <value>C:\Falcon BMS 4.37</value>
            </setting>
            <setting name="PuertoHTTP" serializeAs="String">
                <value>8080</value>
            </setting>
        </BMS_http_KneeBoard.My.MySettings>
    </userSettings>
</configuration>